<div class="home flex fdc">

  <div style="margin-bottom: 16px" class="flex jcsb aic">
    <h1>PIZZA DAY</h1>

    <mat-icon *ngIf="!isAuth" class="pointer" routerLink="/sign-up">perm_identity</mat-icon>

    <div *ngIf="isAuth" routerLink="/profile" class="flex aic jcc pointer" style="background: darkorange; width: 24px;height: 24px;color: white; border-radius: 50%"><span style="margin-top: 1px">N</span></div>
  </div>

  <input class="w100 home__search" type="text" placeholder="Пошук">

  <h2 style="margin: 16px 0">Наявні піци</h2>
  <div class="home__pizza-list flex">
    <div *ngFor="let a of [1,2,3]" class="flex fdc aic home__pizza-card">
      <div class="home__pizza-card-image">
        <img src="assets/images/peperoni.png">
      </div>
      <span style="margin: 16px 0;align-self: flex-start">Пепероні</span>
      <span style="align-self: flex-start">200 грн</span>
    </div>

  </div>
</div>
