<div class="home flex fdc">
  <h1 style="margin-bottom: 16px">PIZZA DAY</h1>

  <input class="w100 home__search" type="text" placeholder="Пошук">

  <h2 style="margin: 16px 0">Наявні піци</h2>
  <div class="home__pizza-list flex">
    <div *ngFor="let a of [1,2,3]" class="flex fdc aic home__pizza-card">
      <div class="home__pizza-card-image">
        <img src="assets/images/peperoni.png">
      </div>
      <span style="margin: 16px 0;align-self: flex-start">Пепероні</span>
      <span style="align-self: flex-start">200 грн</span>
    </div>

  </div>
</div>
