<div style="padding: 30px 20px;">
  <div style="position: relative;" class="w100 flex aic">
    <mat-icon class="pointer" routerLink="/home">arrow_back</mat-icon>
    <span style="position: absolute; top: 0; left: 50%; transform: translate3d(-50%, 10%, 0)">Корзина</span>
  </div>

  <div style="margin-top: 30px" class="flex fdc">
    <app-cart-item></app-cart-item>

    <app-cart-item></app-cart-item>

    <app-cart-item></app-cart-item>
  </div>

  <button class="cart__button pointer">Перейти до оформлення</button>
</div>
