<div style="padding: 30px 20px;">
  <div style="position: relative;" class="w100 flex aic">
    <mat-icon class="pointer" routerLink="/home">arrow_back</mat-icon>
    <span style="position: absolute; top: 0; left: 50%; transform: translate3d(-50%, 10%, 0)">Кошик</span>
  </div>

  <div *ngIf="cart.length;else noCart" style="margin-top: 30px" class="flex fdc">
    <app-cart-item (countChanged)="updateCount($event)" (remove)="removeFromCart($event)" *ngFor="let item of cart" [pizza]="item" [value]="item.count"></app-cart-item>
    <button class="cart__button pointer" routerLink="/ordering">Перейти до оформлення</button>
  </div>
</div>

<ng-template #noCart>
  <span style="margin-top: 16px;display:block;">Поки нічого немає :)</span>
</ng-template>
