<div class="sign-in" style="padding: 30px 20px;">
  <h1 style="text-align: center">Вхід</h1>

  <div class="flex fdc">
    <input class="input" style="margin-top: 16px" type="text" placeholder="Пошта">

    <input class="input" style="margin-top: 16px" type="text" placeholder="Пароль">

    <button style="margin-top: 16px" class="button">Ввійти</button>

    <span style="margin-top: 16px">Немає аккаунту? <span class="pointer" style="color: darkorange" routerLink="/sign-up">Створіть новий</span></span>
  </div>
</div>

