<div style="padding: 30px 20px;">
  <div style="position: relative;" class="w100 flex aic">
    <mat-icon class="pointer" routerLink="/cart">arrow_back</mat-icon>
    <span style="position: absolute; top: 0; left: 50%; transform: translate3d(-50%, 10%, 0)">Замовлення</span>
  </div>

  <div class="flex fdc">
    <input class="input" style="margin-top: 16px" type="text" placeholder="Ім'я отримувача">

    <input class="input" style="margin-top: 16px" type="text" placeholder="Місто">

    <input class="input" style="margin-top: 16px" type="text" placeholder="Вулиця та будинок">

    <input class="input" style="margin-top: 16px" type="datetime-local"  value="Дата та час">

    <mat-checkbox style="margin-top: 16px">Передзвонити для підтвердження замовлення</mat-checkbox>

    <app-cart-item [external]="true"></app-cart-item>

    <app-cart-item [external]="true"></app-cart-item>

    <button class="cart__button pointer" routerLink="/ordering">Замовити</button>
  </div>
</div>
