<div style="padding: 30px 20px;">
  <div style="position: relative;" class="w100 flex aic">
    <mat-icon class="pointer" routerLink="/cart">arrow_back</mat-icon>
    <span style="position: absolute; top: 0; left: 50%; transform: translate3d(-50%, 10%, 0)">Замовлення</span>
  </div>

  <div class="flex fdc">
    <input [(ngModel)]="name" class="input" style="margin-top: 16px" type="text" placeholder="Ім'я отримувача">

    <input [(ngModel)]="phone" class="input" style="margin-top: 16px" type="text" placeholder="Телефон">

    <input [(ngModel)]="city" class="input" style="margin-top: 16px" type="text" placeholder="Місто">

    <input [(ngModel)]="address" class="input" style="margin-top: 16px" type="text" placeholder="Вулиця та будинок">

    <input [(ngModel)]="time" class="input" style="margin-top: 16px" type="datetime-local">

    <mat-checkbox [(ngModel)]="callback" style="margin-top: 16px">Передзвонити для підтвердження замовлення</mat-checkbox>

<!--    <app-cart-item [external]="true"></app-cart-item>-->

<!--    <app-cart-item [external]="true"></app-cart-item>-->

    <span style="display: block; margin-top: 16px; font-size: 18px">Сума замовлення: <span style="color: darkorange">{{ total }} грн </span></span>

    <button class="cart__button pointer" *ngIf="name.length && phone.length && city.length && address.length && time.length" (click)="makeOrder()" routerLink="/ordering">Замовити</button>
  </div>
</div>
