<div class="container" style="padding-bottom: 80px">
  <router-outlet></router-outlet>
  <div class="footer flex aic jcsa">
    <mat-icon class="pointer" routerLink="/home" style="color: darkorange">home</mat-icon>

    <mat-icon class="pointer" routerLink="/pizza-builder" style="color: darkorange">local_pizza</mat-icon>

    <mat-icon class="pointer" routerLink="/cart" style="color: darkorange">shopping_cart</mat-icon>

    <mat-icon class="pointer" routerLink="/profile" style="color: darkorange">perm_identity</mat-icon>
  </div>
</div>
