@font-face {
  font-family: 'AdonisC-Bold';
  src: url('assets/AdonisC-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-appearance: none;
  -webkit-border-radius: 0;

  -webkit-tap-highlight-color: transparent;

  &::-webkit-scrollbar {
    display: none !important;
  }

  font-family: AdonisC-Bold;
}

html, body{
  background: #f5f5f5;
  height: 100%;
}

button {
  border: none;
}

input, input:before, input:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-box-shadow: 0 0 0 30px #1D1D1D inset !important;
}

input:-webkit-autofill{
  -webkit-text-fill-color: white !important;
}

span, div, p, a {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.aic {
  align-items: center;
}

.ais {
  align-items: flex-start;
}

.aie {
  align-items: flex-end;
}

.jcs {
  justify-content: flex-start;
}

.jcc {
  justify-content: center;
}

.jce {
  justify-content: flex-end;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.fdc {
  flex-direction: column;
}

.tac {
  text-align: center;
}

.w100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-icon {
  transition: all .4s;
}

mat-icon:hover {
  transform: scale(1.1);
}

.input {
  border-radius: 16px;
  border: 2px solid darkorange;
  padding: 12px;
  &:focus-visible {
    outline: none;
  }
}

.button {
  border-radius: 20px;
  background: darkorange;
  color: white;
  padding: 12px;
  cursor: pointer;
}



.mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
  background: darkorange !important;
  border-color: darkorange !important;
}

@media screen and (max-width: 500px) {
  .container, .pizza {
    border-radius: 0 !important;
  }
  .header__auth {
    display: block !important;
  }
  .header__navi {
    display: none;
  }
  .home {
    padding: 10px !important;
  }
  .home__pizza-card-image {
    height: 130px !important;
    width: 130px !important;
  }
}

@media screen and (min-width: 500px) {
  .footer {
    display: none;
  }
  .home__header {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .home__pizza-card {
    flex-basis: 100% !important;
  }
  .home__nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .home__search {
    max-width: 100% !important;
  }
  .header {
    justify-content: space-between !important;
  }
  .header__navi {
    width: 50% !important;
  }
}
