<div *ngIf="order" class="order-card">
  <h2>Замовлення №{{ no }}</h2>
  <p>{{order.orderBody.name}} {{ order.orderBody.phone }} <br> {{ order.orderBody.city }} {{ order.orderBody.address }} <br> {{ order.orderBody.time | date :'short' }}</p>
  <div *ngIf="pizzas.length" class="flex fdc">
    <app-cart-item *ngFor="let pizza of pizzas" [pizza]="pizza" [external]="true"></app-cart-item>

    <button *ngIf="isAdmin && order.status === 'Очікування'" (click)="accept.emit(); order.status = 'Підтверджено'" class="button" style="align-self: flex-end">Підтвердити</button>

    <span style="align-self: flex-end; color: darkcyan; font-size: 20px" *ngIf="isAdmin && order.status === 'Підтверджено'">{{ order.status }}</span>

    <span style="align-self: flex-end; color: darkcyan; font-size: 20px" *ngIf="!isAdmin">{{ order.status }}</span>
<!--    <span style="color:darkcyan;align-self: flex-end">Підтверджено</span>-->
  </div>
</div>
