<div style="margin: 30px 20px">
  <div class="w100 flex aic jcsb" style="max-width: 100%; overflow-x: auto">
    <span (click)="setMode('Orders')" class="pointer" [class.active-item]="mode === 'Orders'">Замовлення</span>
    <span (click)="setMode('Menu')" class="pointer" [class.active-item]="mode === 'Menu'">Меню</span>
    <span (click)="setMode('Statistics')" class="pointer" [class.active-item]="mode === 'Statistics'">Статистика</span>
  </div>

  <div *ngIf="mode === 'Orders'">
    <div class="flex fdc">
      <app-order-card></app-order-card>

      <app-order-card></app-order-card>
    </div>
  </div>

  <div *ngIf="mode === 'Menu'">sdf2</div>

  <div *ngIf="mode === 'Statistics'">sdf3</div>
</div>

